@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Road+Rage&family=Yuji+Syuku&display=swap");

$nav-color: #e9d8a6;
$section-color: #ee9b00;
$primary-font: "Yuji Syuku", serif;
$secondary-font: "Road Rage", cursive;

body {
  background: url(/assets/img/pexels-lisa-1083822.jpg) no-repeat;

  background-size: cover;
}

ul {
  li {
    list-style: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;

  h2 {
    color: $nav-color;
    font-family: $primary-font;
    font-size: 3rem;
  }

  ul {
    display: flex;
    
    font-family: $secondary-font;

    li {
      padding: 3rem;
      font-size: calc(1.5rem + 0.5vw);
      
    }
    a {
      text-decoration: none;
      color: $nav-color;
    }
  }
}

section {
  text-align: center;
  color: $section-color;

  h1 {
    font-family: $primary-font;
    font-size: 4rem;
  }

  p {
    font-family: $secondary-font;
    font-size: 3rem;
  }
}
